.navbar {
    background-color:blue;
    color:red;
}

.navbar-nav {
    margin-right:0;
    margin-left:auto;
}

.navbar li {
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer; 
}

#navbardrop {
    margin-top:13px;
    overflow:visible;
}

.dropdown-menu {
    background-color:blue;
    color:white;
    overflow:visible;
    
}

.dropdown-toggle {
    overflow:visible;
}

.dropdown-item {
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
    width:auto;
    height:auto;
}


.nav-link {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
}

li {
    float: left;
    display: block;
    transition-duration: 0.5s;
}

h1 {
    font-size:70px;
}

h2 {
    font-size:60px;
}

.nav-title {
    font-family:Brush Script MT;
}

.data-title {
    text-align:left;
    margin-left:13px
}

.data-title > h2 {
    font-family:Brush Script MT;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color:black;
    cursor:pointer;
}

.dropdown-menu a:hover {
    background-color:black;
    cursor:pointer;
}

table {
    margin-right: auto;
    margin-left:auto;
    margin: 0 auto;
}
table th {
    text-align: center; 
 }
 
 
.table {
    margin: auto;
    width: 68% !important; 
}

.gmap > embed{
    height:400px;
    width:100%;
}

.gmap > p {
    text-align:justify;
    margin-left:5px;
    margin-right:20px;
    margin-top:40px;
}

.gmap-caption2 {
    text-align:left;
    padding-left:10px;
}

.purpledot {
    height: 10px;
    width: 10px;
    background-color:purple;
    border-radius: 50%;
    display: inline-block;
}

.bluedot {
    height: 10px;
    width: 10px;
    background-color:blue;
    border-radius: 50%;
    display: inline-block;
}

.greendot {
    height: 10px;
    width: 10px;
    background-color:green;
    border-radius: 50%;
    display: inline-block;
}

.yellowdot {
    height: 10px;
    width: 10px;
    background-color:yellow;
    border-radius: 50%;
    display: inline-block;
}

.orangedot {
    height: 10px;
    width: 10px;
    background-color:orange;
    border-radius: 50%;
    display: inline-block;
}

.reddot {
    height: 10px;
    width: 10px;
    background-color:red;
    border-radius: 50%;
    display: inline-block;
} 

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
/* 
Generic Styling, for Desktops/Laptops 
*/
table { 
    width: 100%; 
    border-collapse: collapse; 
  }
  /* Zebra striping */
\tr:nth-of-type(odd) { 
    background: #eee; 
}
  
th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
}
  
td, th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

@media screen and ( max-width: 500px ) {
    img.responsive { width: auto; }

img.responsive {
    height:auto;
}

@media 
only screen and (max-width:760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "City"; }
	td:nth-of-type(2):before { content: "Country"; }
	td:nth-of-type(3):before { content: "Date"; }
	td:nth-of-type(4):before { content: "Humidity"; }
	td:nth-of-type(5):before { content: "Lat"; }
	td:nth-of-type(6):before { content: "Lng"; }
	td:nth-of-type(7):before { content: "Max Temp"; }
	td:nth-of-type(8):before { content: "Wind Speed"; }
	td:nth-of-type(9):before { content: "Cloudiness"; }